<mat-toolbar [color]="backgroundTheme" class="version-wrapper footer">

  <span class="version"
        [ngClass]="{'show-pointer': internalFooterConfiguration.showPointer, 'show-default': !internalFooterConfiguration.showPointer }"
        *ngIf="internalFooterConfiguration && internalFooterConfiguration.appVersion && internalFooterConfiguration.versionRouterLink"
        [routerLink]="internalFooterConfiguration.versionRouterLink"
        [routerLinkActive]="internalFooterConfiguration.versionRouterLinkClass"
        (click)="onAppVersionClick()">
        {{ internalFooterConfiguration.appVersion }}
  </span>

  <span class="version"
        [ngClass]="{'show-pointer': internalFooterConfiguration.showPointer, 'show-default': !internalFooterConfiguration.showPointer }"
        *ngIf="internalFooterConfiguration && internalFooterConfiguration.appVersion && !internalFooterConfiguration.versionRouterLink"
        (click)="onAppVersionClick()">
        {{ internalFooterConfiguration.appVersion }}
  </span>

  <span class="version-spacer"></span>

  <span class="show-default" *ngIf="statusText">{{statusText}}&nbsp;</span>
  <fa-icon *ngIf="statusIcon" [icon]="statusIcon"></fa-icon>

</mat-toolbar>

