.version-wrapper {
  width: 100%;
  height: 25px;
  display: flex;
  align-items: center;
  font-size: smaller;
}

.version {
  margin-left: auto;
  margin-right: 20px;
}

.show-default {
  cursor: default;
}

.show-pointer {
  cursor: pointer;
}

.version-spacer {
  flex: 1 1 auto;
}

.defaultVersion {
  color:red;
}

.footer {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  height: 25px;
  bottom: 0;
}
