<div>
  <lib-bb-itag-angular-footer [appVersion]="appVersion"
                              [showPointer]="showPointer"
                              [onlineThemePalette]="onlineThemePalette"
                              [offlineThemePalette]="offlineThemePalette"
                              [onlineFaIconDefinition]="onlineFaIconDefinition"
                              [offlineFaIconDefinition]="offlineFaIconDefinition"
                              [onlineText]="onlineText"
                              [offlineText]="offlineText"
                              [versionRouterLink]="versionRouterLink"
                              [versionRouterLinkClass]="versionRouterLinkClass"
                              (appVersionClicked)="onFooterAppVersionClicked($event)"
                              [online]="isOnline$ | async">
  </lib-bb-itag-angular-footer>
</div>




